/*#upload-container {
    margin-top: 100px;
    margin-left: 50px;
}

#photo-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.graph {
    width: 650px;
}*/

#top-section {
    margin-top: 10vw; 
    display: flex;
    justify-content: center;
}