<form [formGroup]="form" (ngSubmit)="getGraph()">
    <div>
        <div class="row-container" *ngFor="let bank of banks">
            <div class="main-text-container">
                <p class="main-text"> {{ bank.mainText }} </p>
                <label [for]="bank.formControlName">
                    <img src="../../assets/upload.png" class="icons"> 
                </label>
                <input [id]="bank.formControlName" type="file" [formControlName]="bank.formControlName" accept=".csv" (change)="bank.handleInput($event)">
            </div>
            <div class="filename-text"> 
                <p> {{ bank.file?.name }} </p>
            </div>
        </div>
    </div>

    <button type="submit" [disabled]="!form.valid"> Visualise </button>
</form>
