<!--<form [formGroup]="form" (ngSubmit)="getGraph()">
    <div class="rows">
        <div class="row-container" *ngFor="let bank of banks">
            <div class="main-text-container">
                <p class="main-text"> {{ bank.mainText }} </p>
                <label [for]="bank.formControlName">
                    <img src="../../assets/upload.png" class="icons"> 
                </label>
                <input [id]="bank.formControlName" type="file" [formControlName]="bank.formControlName" accept=".csv" (change)="bank.handleInput($event)">
            </div>
            <div class="filename-text"> 
                <p *ngIf="bank.formControlName == 'bankwestData'; else cba"> {{ bankwestFile?.name }} </p>
                <ng-template #cba> {{ commbankFile?.name }} </ng-template>
            </div>
        </div>
        <div>
            <label for="hideAxis" class="main-text"> Hide y-axis </label>
            <input id="hideAxis" type="checkbox" formControlName="hideAxis">
        </div>
    </div>
    
    <button type="submit" [disabled]="!form.valid"> Visualise </button>
</form>-->

<div class="flex-container">
    <div id="file-upload-container"> 
        <p> File upload </p>
        <img id="chevron-down" src="../../assets/chevron down.png">
    </div>
    <div id="uploaded-file-container"> Your uploaded files will show here </div>
</div>
