/*form {
    display: flex;
    align-items: center;
    gap: 250px;
}

.rows {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 21px; 
}

.main-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 51px;
}

.main-text {
    font-family: 'Georama-Light';
    font-size: 32px;
}

.filename-text {
    width: 120px;
    font-size: 16px;
    font-family: 'Lucida Sans';
}

.icons {
    width: 57.44px;
    height: 57.44px;
}

input[type=file] {
    display: none;
}

label:hover {
    cursor: pointer;
}*/

button {
    width: 268px;
    height: 66px;
    border-radius: 55px;
    background-color: rgb(70, 197, 255);
    font-family: 'Georama-Regular';
    font-size: 35px;
}

button:enabled {
    cursor: pointer;
}

div {
    font-family: 'Georama-Light'
}

.flex-container {
    display: flex;
    height: 250px;
}

#file-upload-container {
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    padding-right: 93px;
    font-size: 44px;
}

#uploaded-file-container {
    display: flex;
    align-items: center;
    height: 250px;
    padding-left: 93px;
}

#chevron-down {
    width: 31px;
}
