<!--
<label for="hideAxis" class="main-text"> Hide y-axis </label>
<input id="hideAxis" type="checkbox" formControlName="hideAxis">
</div> -->

<div class="flex-container">
    <div id="left-container">
        <p id="left-container-text"> Upload files here. Once uploaded select which bank the file is from. </p>
        <div id="file-upload-container">
            <label id="upload-label" for="upload">
                <img id="upload-icon" src="../../assets/upload.png">
            </label>
            <input id="upload" type="file" accept=".csv" (change)="handleInput($event)"> 
        </div>
    </div>
    <div id="right-container"> 
        <div id="right-container-default-text" *ngIf="this.files.length == 0; else elseBlock"> Your uploaded files will show up here </div>
        <ng-template #elseBlock> 
            <ol> 
                <li class="file-list" *ngFor="let file of files; index as i">
                    {{ file.name.substring(0, MAX_FILE_NAME_LENGTH) }}
                    <mat-form-field class="bank-selection">
                        <mat-label id="file-upload-text"> Bank </mat-label>
                        <mat-select value="bankwest" (selectionChange)="handleSelect(i, $event)">
                            <mat-option value="bankwest"> Bankwest </mat-option>
                            <mat-option value="commbank"> Commbank </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
            </ol> 
        </ng-template>
    </div>
</div>
<div class="button-flex-container">
    <button [disabled]="files.length == 0" (click)="getGraph()"> Visualise </button>
</div>