div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 71px; 
}

p {
    font-family: 'Georama-Light';
    font-size: 32px;
}

img {
    width: 57.44px;
    height: 57.44px;
}