.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 21px; 
}

.main-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 51px;
}

.main-text {
    font-family: 'Georama-Light';
    font-size: 32px;
}

.filename-text {
    width: 120px;
    font-size: small;
    font-family: 'Lucida Sans';
}

.icons {
    width: 57.44px;
    height: 57.44px;
}

.graph {
    width: 550px;
}

input {
    display: none;
}

label:hover {
    cursor: pointer;
}
