@font-face {
    font-family: "Georama-Light";
    src: url(./assets/fonts/Georama-Light.ttf);
}

@font-face {
    font-family: "Georama-Regular";
    src: url(./assets/fonts/Georama-Regular.ttf);
}

body {
    background-image: url(./assets/gradient.png);
}